<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <h1>Melbourne Dev Camp - registration of interest.</h1>
    <table>
      <tr>
        <th>First name</th>
        <td><%= @enquiry.name %></td>
      </tr>
      <tr>
        <th>Last name</th>
        <td><%= @enquiry.last_name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @enquiry.email %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= @enquiry.phone %></td>
      </tr>
      <tr>
        <th>LinkedIn</th>
        <td><%= @enquiry.linkedin %></td>
      </tr>
      <tr>
        <th>Message</th>
        <td><%= @enquiry.message %></td>
      </tr>
    </table>
      
  </body>
</html>